{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GKTW Laser Tool</title>

  <link rel="stylesheet" href="{% static 'app/bootstrap.css' %}">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="{% static 'app/bootstrap.bundle.min.js' %}"></script>

  {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'index' %}">GKTW Laser Tool</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'index' %}">New File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'list_customized_files' %}">Customized Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'admin' %}">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-2">
  {% block content %}{% endblock %}
</div>

</body>
</html>